html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  border-width: 0;
  border-top: 1px dashed #ddd;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer > .container .credit,
#footer > .container .footer-nav{
  margin: 5px 0;
  font-size: 12px;
}

/* Set the navbar for the header */
.navbar-custom{
  border-top: 8px solid #1baf5d;
  margin: 2px 0 20px 0;
}

.nav-li-none{
  height: 50px;
  width: 80px;
}

.navbar-search{
  width: 80px;
}

/* recommend in the index */
.recommend-align{
  text-align: center;
}

.recommend-align p{
  text-align: justify;
}

/* Set the aside for the login and the register page */
.login-register-aside{
  font-size: 12px;
  line-height: 1.62;
  margin: 80px 0 0 0;
}

/* Set nav-tabs page */
.board-shade{
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  display: block;
  margin: 20px auto 20px;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.25);
}

.lightbox{}
.lightbox:hover{}
.lightbox:active{background:#dcdcdc;}
.lightbox:focus{background:#e0ffff;}

.story-image{
  border-radius: 2px;
  color: #88818d;
  cursor: pointer;
  font-weight: 300;
  margin: 0 auto 10px;
  text-align: center;
}

.story-actions{
  position: absolute;
  top: 40px;
  left: 210px;
}

.story-title{
  font-size: 15px;
  margin: 10px auto 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  width: 240px;
}

.story-info{
  border-top: 1px solid #e8e8e8;
  color: #cfccd0;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
}

.public-pull-left{
  float: left;
}

.public-pull-right{
  float: right;
}

.publisher{
  overflow: hidden;
  padding: 16px 15px 5px 15px;
}

.publisher-box{
  border-bottom: 1px solid #eeeeee;
  height: 60px;
}

.publisher-pull-left{
  float: left;
  width: 50px;
}

.publisher-pull-right{
  float: left;
  margin: 5px 0 0 10px;
}

.publisher-pull-right ul{
  font-size: 10px;
}

.published{
  font-size: 12px;
  padding: 8px 0 0 0;
}

.published ul{
  text-align: center;
  padding: 5px 0 0 0;
}

.fans{
  font-size: 12px;
}

.fans a{
  text-align: right;
}

.fans-image{
  text-align: center;
  margin:10px 0 0 0;
}
